.widget {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-family: gilroy-semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #1d9cd8;
	margin: 0;
}

.menu__col {
	display: block;
	width: 50%;
}

.menu__img {
	object-fit: scale-down;
	width: 100%;
}

.menu__widget {
	padding: 0;
	display: flex;
	list-style: none;
	justify-content: center;
}

.menu__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widget__item {
	cursor: pointer;
	transition: color 0.5s ease;
	align-self: flex-start;
	padding: 10px 0;
	margin: 0;
}

.widget__link {
	text-decoration: none;
	color: inherit;
}

.widget__link:hover {
	color: #0e0e0e;
}
