.footer {
	padding: 220px 0 40px;
}

.footer__wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.footer__pult-icon {
	width: 106px;
	padding-right: 20px;
}

.footer__tel {
	font-weight: bold;
	font-size: 27px;
	line-height: 100%;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.footer__tel:hover {
	text-decoration: underline;
}

.footer__call-text {
	margin-bottom: 1px;
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
	color: #000000;
}

.footer__blocks {
	display: flex;
	justify-content: space-between;
}

.footer__block {
	display: flex;
	align-self: flex-start;
	width: 50%;
}

.footer__columns {
	margin: 0;
	display: flex;
	list-style: none;
}

.footer__list {
	list-style: none;
}

.footer__list-item {
	margin-bottom: 20px;
}

.footer__link {
	font-size: 14px;
	line-height: 100%;
	padding-right: 8px;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	transition: 0.4s ease-in;
}

.footer__link:hover {
	color: #8ecae4;
}

.footer__copyright {
	margin-top: 80px;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	color: #000000;
}
