.page {
	width: 100%;
	height: 100%;
	padding: 0;
	box-sizing: border-box;
	font-family: Gilroy-Regular, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

.page__container {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}
